<h1>The dashboard.</h1>
Hello: <%=h current_user %>
<div id="user-bar-greeting">Logged in as <%= link_to_current_user :content_method => :login %></div>
<div id="user-bar-action"  >(<%= link_to "Log out", logout_path, { :title => "Log out" }    %>)</div>
