<div class="content_header">
	<h1>Edit Workout</h1>
</div>

<div class="content">
	<%= render :partial => "manual", :locals => { :submit_url => workout_path(@workout) } %>
</div>

<%= javascript_include_tag 'workout-form' %>