<div class="content_header">
	<h1>Add a Workout</h1>
</div>

<div class="content" id="new_workout">

	<div id="tabs" class="tabs">
	    <ul id="tab_display">
	        <li><a href="#file"><span>Upload a file</span></a></li>
	        <li><a href="#manual"><span>Enter data manually</span></a></li>
	    </ul>
		<div class="tabs_shadow">&nbsp;</div>

		<div id="file" class="ui-tabs-hide">
			<%= render :partial => "file", :locals => { :submit_url => user_workouts_path(current_user) } %>
		</div>

		<div id="manual" class="ui-tabs-hide">
			<%= render :partial => "manual", :locals => { :submit_url => user_workouts_path(current_user) } %>
		</div>

	</div>

</div>

