<div class="content_header">
	<h1>Add a Workout</h1>
</div>

<div class="content" id="select_device">
			<%= render :partial => 'form', :locals => { :submit_url => user_workouts_path(current_user) } %>

<!-- 	<p>If you don't see your device listed, <a href="http://zed9.uservoice.com" target="_new">suggest it and let the community vote!</a></p>

	<p>If you used multiple devices for this workout (e.g., a heart rate monitor and a GPS data logger), you will have a chance to merge the data when you upload the second file.</p> -->


</div>

