<div class="main">
	<h1>Add a Workout</h1>

<% if params[:device_type] %>
	<%= render :partial => 'form' %>
<% else %>
<ul>
  <li>Nike +</li>
  <li><%= link_to 'Garmin', url_for(:action => 'new', :device_type => 'garmin') %></li>
  <li><%= link_to 'Polar', url_for(:action => 'new', :device_type => 'polar') %></li>
  <li>Generic GPS</li>
</ul>
<% end -%>
 
</div>
