<div class="content_header">
	<h1>Forgot Password</h1><br>
</div>

<div class="content">

	<div id="password_reset_form">
		<p>Enter the email address on your ZED9 account and we'll send you a link to create a new password and sign in.</p><br>

		<% form_for User.new, :url => password_resets_path, :method => :put do |f| %>

  			<%= f.error_messages %>

			<table id="email_password" class="form">
			  	<tr>
			    	<th><%= f.label :email, "Account email address" %></th>
						<td><%= f.text_field :email %></td>
			  	</tr>
			    <tr>
			      	<th>&nbsp;</th>
				    <td><%= f.submit "Reset my password", :class => "submit" %></td> 
			    </tr>
			</table>

		<% end %>
		
	</div>
	
</div>