<div class="content">
	<table>
		<tr>
			<th>name</th>
			<th>Description</th>
			<th>controller</th>
			<th>action</th>
			<th>logic</th>
		</tr>
<%= render :partial => @achievements %>
</table>

<%= link_to "New achievement", new_admin_achievement_path %>

</div>