body {
	background-color: white;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,arial,sans-serif;
	color: #545454;
	padding: 24px 72px 24px 72px;
	font-weight: 300;
	letter-spacing: .5px;
	font-size:14px;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
	color:#25a1d6;
	vertical-align: baseline;
}

#header {
	padding-bottom: 18px;
	vertical-align: baseline;
	line-height: 28px;
}

#logo a {
	color: #9f9f9f;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 10px;
	float: left;
	position: relative;
	top: -8px;
}

#nav {
	display: inline;
	float: left;
}

#header ul {
	margin: 0px;
	padding: 0px;
}

#nav li {
	display:inline;
	padding:0px 12px 0px 12px;
	border-right:1px dotted #d9d9d9;
}

#nav .first {
}

#nav .last {
	padding-right:0px;
	border:none;
}

#loginpane {
	font-size: 10pt;
	float: right;
	display: inline;
	padding-top: 0px;
	color: #9f9f9f;
}

#loginpane input {
	background-image:url(/images/splash_inputs.png);
	background-repeat:no-repeat;
	border:light none;
	height:16px;
}

#loginpane .login_text {
	padding-left: 12px;
}

#logged_in li{
	display:inline;
	font-size:12px;
	padding:0px 12px 0px 12px;
	float: left;
	border-right:1px dotted #d9d9d9;
	position: relative;
}

#logged_in .last {
	padding-right:0px;
	border:none;
}

#main {
	display: block;
	clear: both;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#flash {
	margin: 24px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #3dc10b;
	text-align: center;	
}

#content_header {
	display: block;
	margin: 0px 0px 24px 0px;
	text-align: left;
	clear: both;
}

#content {
	margin: 0px;
	padding: 0px;
	position: relative;
}

h1 {
	display: inline;
	font-weight: 500;
	font-size: 36px;
	padding: 0px;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

h3 {
	color: #9f9f9f;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	display: inline-block;
	margin: 0px 0px 12px 0px;
}

thead, th, td {
	padding: 4px 12px;
	border: none;
	text-align: left;
}

.left_column {
	text-align: left;
	padding-left: 0px;
}

#register, #login {
	width: 100%;
	text-align: left;
	float: left;
}

#registration_form, #login_form table, tr, th, td {
	font-weight: 200;
	font-size: 18px;
	line-height: inherit;
	font-family: inherit;
	font-color: inherit;
	border: none;
}

.form th {
	padding-right: 4px;
	text-align:right;
	width: 240px;
}

.form td {
	padding-left: 4px;
	line-height: 2;
}

.form .annotated {
	padding-bottom: 0px;
}

.form .field_note {
	font-size: 12px;
	padding-top: 0px;
}

.form input {
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	vertical-align: inherit;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border:1px solid #d9d9d9;
	font-family: inherit;
	color: inherit;
	padding:8px;
	margin:0px;
}

.submit {
	position: relative;
	top: 16px;
}

.coming_soon {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	color: #828282;
}

.feature_headline {
	font-size: 24px;
}

#feature_stat {
	padding: 8px 0px 8px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #3dc10b;
	text-align: center;		
}

#left_column {
	display: block;
	width: 336px;
	text-align: left;
	margin: 0px auto 0px 0px;
}

#dashboard_stats {
}

#public_timeline {
	margin-top: 24px;
}

#recent_workouts_chart {
	position: absolute;
	top: 0;
	right: 0;
}

.chart_title {
	text-align: center;
	vertical-align: top;
}

.chart_title h2 {
	padding-top: 0px;
	margin-top: 0px;
}

#workout_header {
	display: block;
}

#workout_header h1 {
	margin-bottom: 0px;
}

.activity_icon {
	position: relative;
	bottom: -6px;
}

.action_icon {
	position: relative;
	bottom: 6px;
}

.action {
	font-size: 12px;
}

#workout_description, #workout_notes {
	display: block;
	font-size: 14px;
	color: #828282;
	padding: 0px;
	margin: 4px 0px 8px 0px;
}

#workout_notes {
	font-style: italic;
}

#tag_set {
	font-size: 14px;
	color: #828282;
	display: inline;
}

#tags_header {
	padding-right: 4px;
}

.tag {
	padding: 0px 4px;
}

a.globe {
	position: relative;
	margin-left: -2px;
	display: inline; 
	background: url(/images/globe.png) no-repeat;		
	width: 18px;
	height: 18px;
}

a.globe:hover {
	background-position: -18px 0px;
}

a.add-plus {
}

a.delete-x {
	padding: 0px 7px;
	background: url(/images/delete-x.png) no-repeat scroll 4px 5px;
}

.displace {
	position: absolute;
	left: -5000px;
}

#view_selection {
	float: right;
	display: inline;
	position: relative;
	top: 48px;
}

#workout_comparison {
	float: left;
	overflow: auto;
}

#workout_comparison th, #workout_comparison td, #public_timeline th, #public_timeline td {
	border-right:1px dotted #d9d9d9;
	text-align: center;
	font-size: 14px;
}

#workout_comparison .first_column, #public_timeline .first_column {
	text-align: left;
	padding-left: 0px;
}

#workout_comparison .last_column, #public_timeline .last_column {
	border-right: none;
}

#map, #heart_rate_graph, #workout_history_graph {
	position: relative;
	float: right;
}

.clear:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

#footer {
	clear: both;
	color: #7C7B74;
	font-size: 8pt;
	padding: 24px 0px 12px 0px;
	text-align: center;
}
