/*---- Global layout elements ----*/

html, body {
	height: 100%;
}

body {
	background-color: white;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,arial,sans-serif;
	color: #545454;
	margin: 0px auto;
	font-weight: 300;
	letter-spacing: .5px;
	font-size:14px;
	width: 960px;
	text-align: center;
}

#wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -84px;
}

#header {
	padding-top: 24px;
	width: 100%;
	padding-bottom: 24px;
	vertical-align: baseline;
	line-height: 28px;
}

#nav {
	display: inline;
	float: left;
}

#main {
	width: 100%;
	display: block;
	clear: both;
	margin: 0px;
	padding: 0px 0px 36px 0px;
	position: relative;
}

.content_header {
	display: block;
	padding-bottom: 24px;
	text-align: left;
	clear: both;
}

#join_prompt {
	float: right;
	width: 280px;
	padding-top: 18px;
	text-align: right;
	font-style: oblique;
	font-size: 18px;
}

#join_prompt_index {
	float: right;
	width: 280px;
	text-align: right;
	font-style: oblique;
	font-size: 18px;
}

.content {
	clear: both;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
	text-align: left;
}

.clearfooter {
	height: 84px;
	clear: both;
}

#footer {
	position: relative;
	width: 100%;
	color: #9f9f9f;
	font-size: 8pt;
	text-align: center;
	height: 84px;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
}

/*---- Global element attributes ----*/

img {
	border: 0px;
}

a {
	text-decoration: none;
	color:#25a1d6;
}

h1 {
	display: inline;
	font-weight: 500;
	font-size: 36px;
	padding: 0px;
}

h1 .by {
	font-size: 18px;
	font-weight: 100;
}

h2 {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
}

h3 {
	color:#25a1d6;
	font-size: 18px;
	line-height: 16px;
	font-weight: 400;
	padding: 8px 0px;
	text-align: left;
}

h4 {
	font-size: 16px;
	font-weight: 500;
	padding-top: 12px;
}

p {
	padding: 8px 0px;
	line-height: 1.4;
}

thead, th, td {
	padding: 4px 12px;
	border: none;
	text-align: left;
}

.content ul {
	list-style-type: disc;
	padding-left: 1em;
	margin-left: 2em;
	list-style-position: outside;
}

.content li {
	padding-bottom: 8px;
}

.coming_soon {
	font-style: oblique;	
}

.no_wrap {
	white-space:nowrap;
}

.unit {
	font-weight: 100;
	font-size: 12px;
}

.usage_tip {
	background: #f7fdff;
  border: 1px solid #d9d9d9;
  padding: 24px;
	font-size: 18px;
	font-weight: 100;
	text-align: left;
  opacity: .9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}

/*---- General use to display columns ----*/

.left_column {
	position: relative;
	float: left;
	text-align: left;
}

.right_column {
	position: relative;
	float: right;
	right: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px 0px 0px 48px;
	border-left: 1px dotted #d9d9d9;
	text-align: left;
}

/*---- General table column styling ----*/

.first_column {
	text-align: left;
	padding-left: 0px;
}

.last_column {
	border-right: none;
	padding-right: 0px;
	text-align: right;
}

/*---- Header styling ----*/

#header ul {
	margin: 0px;
	padding: 0px;
}

#logo {
	display: inline-block;
	text-align: left;
	float: left;
	position: relative;
	top: -8px;
	display: inline;
	padding-right: 12px;
}

#logo a {
	color: #9f9f9f;
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 10px;
}

#logo a:hover {
	color:#25a1d6;
}

#logo .beta {
	font-size: 12px;
	font-weight: 100;
	color: #9f9f9f;
	text-align: left;
	display: inline;
	position: relative;
	left: -4px;
}

#nav li {
	display:inline;
	padding:0px 12px 0px 12px;
	border-right:1px dotted #d9d9d9;
}

#nav .first {
}

#nav .last {
	padding-right:0px;
	border:none;
}

/*Loginpane is the top-right div containing the welcome, user...*/
#loginpane {
	font-size: 10pt;
	float: right;
	display: inline;
	padding-top: 0px;
	color: #9f9f9f;
	padding-left: 12px;
}

#loginpane li{
	display:inline;
	font-size:12px;
	padding:0px 12px 0px 12px;
	float: left;
	border-right:1px dotted #d9d9d9;
	position: relative;
}

#loginpane .last {
	padding-right:0px;
	border:none;
}


/*---- Marketing page styles ----*/

.marketing_tagline {
	padding-top: 29px;
	padding-bottom: 12px;
	font-weight: 500;
}

#left_splash {
	width: 504px;
	padding-top: 6px;
}

#left_splash .qualifier {
	padding: 6px 0px 16px 0px;
	font-style: oblique;
	font-weight: 100;
}

.marketing_screenshot {
	text-align: center;
}

#example_stats {
	padding: 12px 0px 18px 0px;
	width: 380px;
}

#right_splash, #right_login {
	width: 360px;
	padding-bottom: 24px;
}

.request_invite {
	position: relative;
	top: -1px; /*Position adjustment to align text with left column*/
	float: right;
	font-size: 18px;
	font-weight: 100;
	padding-bottom: 36px;
}

#join_list {
	padding-top: 6px; /*Position adjustment to align text with left column*/
}


/*---- Get Satisfaction Contact Widget*/

#fdbk_iframe_inline {
	width: 100%;
	height: 360px;
}

/*---- Get Satisfaction Topics Widget*/
/*
#gsfn_list_widget img { 
	border: none; 
}

#gsfn_list_widget { 
	font-size: 12px; 
	width: 280px; 
  border: 1px solid #d9d9d9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 12px; 
	position: absolute;
	right: 0px;
	top: 139px;
}

#gsfn_list_widget a.widget_title { 
	color: #545454; 
	display: block; 
	margin-bottom: 12px; 
	font-weight: 500;
	font-size: 18px; 
}

#gsfn_list_widget .powered_by { 
	padding-top: 12px; 
	border-top: 1px solid #d9d9d9; 
}

#gsfn_list_widget .powered_by a { 
	color: #9f9f9f; 
	font-size: 11px; 
}

#gsfn_list_widget div#gsfn_content { 
	padding-bottom: 12px;
}

#gsfn_list_widget div#gsfn_content ul { 
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

#gsfn_list_widget div#gsfn_content li { 
	text-align:left; 
	padding-bottom:6px;
}

#gsfn_list_widget div#gsfn_content a.gsfn_link { 
	line-height: 1; 
}

#gsfn_list_widget div#gsfn_content span.time { 
	font-size: 11px; 
	padding-left: 3px; 
}

#gsfn_list_widget div#gsfn_content p.gsfn_summary { 
	padding-top: 4px 
}
*/
/*---- Action result messages and alerts ----*/

#flash {
	padding-top: 12px;
	padding-bottom: 24px;
	font-size: 22px;
	font-weight: 500;
	color: #3dc10b;
	text-align: center;	
	clear: both;
}

.errorExplanation {
	text-align: left;
	color: red;
	padding-bottom: 36px;
	font-size: 18px;
}

.errorExplanation h2 {
	font-size: 18px;
	font-weight: 500;
}

.errorExplanation p, ul, li {
	font-weight: 100;
	font-size: 14px;
}

.errorExplanation ul {
	padding-left: 1em;
	line-height: 1.4;
	list-style: none;
}

.errorExplanation ul li:before {
	content: "\00BB \0020";
}

/*---- General use form styles ----*/

#register, #login_form, #edit_workout {
	float: left;
	padding-top: 4px;
}

#login_form {
	position: relative;
	top: -10px;
}

#new_invitation {
	text-align: left;
	font-size: 18px;
}

#registration_form, #login_form table, tr, th, td {
	font-weight: 200;
	font-size: 18px;
	line-height: inherit;
	font-family: inherit;
}

.form th {
	font-size: inherit;
	padding: 12px 4px 12px 0px;
	text-align:right;
	width: 140px;
	vertical-align: middle;
}

.form td {
	width: 300px;
	font-size: inherit;
	padding: 12px 4px;
	vertical-align: top;
	text-align: left;
}

/*Form row that has a note displayed below the field*/
.form .annotated {
	padding-bottom: 0px;
}

.form .comments {
	padding-left: 12px;
	width: auto;
	font-size: 12px;
	font-style: oblique;
}

/*Explanatory note displayed below a form field*/
.form .field_note {
	font-size: 12px;
	padding-top: 0px;
}

.form input, .form textarea {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #d9d9d9;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle;
	font-family: inherit;
	color: inherit;
	padding:4px 8px;
}

/*Submit button styling for forms*/
.submit {
  background-color: #f0f0f0;
}

.submit_no_button {
	background-color: none;
}

#edit_workout .submit, #edit_workout .submit_no_button, #register .submit, #register .submit_no_button {
	position: relative;
	top: 18px;
}

/*---- Tool tip general styling ----*/

.tooltip {
	position: absolute;
	display: none;
  border: 1px solid #d9d9d9;
  padding: 8px;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
  background-color: #f0f0f0;
  opacity: .9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	z-index: 1000;
}

.tooltip_extra_info {
	font-size: 14px; 
	font-weight: 100;
	line-height: 1.6;	
}

.tooltip_unit {
	font-size: 14px; 
	font-weight: 100;
}

.tickLabel {
	font-size: 12px;
	font-family: inherit;
	font-weight: 100;
}

/*---- Newsfeed styling (on marketing pages, dashboard, activities, and workouts index) ----*/

/*Div containing newsfeed table*/
#public_newsfeed {
	width: 100%;
	padding-bottom: 24px;
}

#public_newsfeed h2 {
	padding-bottom: 12px;
}

table.newsfeed {
	width: 100%;	
	border-bottom: 1px dotted #d9d9d9;
}

.newsfeed th, .newsfeed td {
	font-size: 14px;
	text-align: center;
	vertical-align: top;
	border-top:1px dotted #d9d9d9;
	padding: 6px 4px;	
}

.newsfeed th {
	font-size: 12px;
	font-weight: 100;
	color: #9f9f9f;
	border: none;
}

.newsfeed .first_column {
	padding-left: 0px;
	text-align: left;
	vertical-align: middle;
}

/*Column for activity icon*/
.newsfeed .icon_col {
	width: 32px;
	text-align: left;
	vertical-align: top;
	padding: 0px;
}

/*Small activity icon, e.g., for newsfeed*/
.activity_icon_small {
	position: relative;
	max-height: 32px;
	max-width: 44px;
	padding: 0px 4px 0px 0px;
}

.newsfeed .activity_name {
	text-align: left;
}

.newsfeed .name {
	text-align: left;
}

.newsfeed .no_left_padding {
	padding-left: 0px;
}

.newsfeed .date, .newsfeed .duration, .newsfeed .tags {
}

.newsfeed .last_column {
	text-align: right;
	padding-right: 0px;
}

.newsfeed .no_right_padding {
	padding-right: 0px;
}

.newsfeed .unit {
	font-weight: 100;
	font-size: 12px;
}

/*---- Leaderboards ----*/

#leaderboards {
	padding: 0px 0px 24px 0px;
}

#leaderboards h2 {
	padding-bottom: 12px;
}
	
#leaderboards	.display_name {
	font-weight: 100;
}

.leaderboard {
	width: auto;
	padding: 12px;
	background: #f7fdff url(/images/closed.png) no-repeat 442px 14px; /*	light gray #f0f0f0*/
	opacity: .9;
  border: 1px solid #d9d9d9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #545454;
	font-weight: 100;
	font-size: 18px;
	text-align: left;
	vertical-align: top;
}

.leaaderboard .activity_headline {
	border: none;
	width: 100%;
}

.leaderboard h3 {
	color: #545454;
	padding: 0px;	
}

.leaderboard .icon {
	vertical-align:top; 
	padding-right: 4px;
	height: 16px; 
}

.leaderboard .number_top {
	font-size: 18px;
	font-weight: 500;
}

.open {
	background: #f7fdff url(/images/open.png) no-repeat 442px 14px;
}

.leaderboards .more {
	display: none;	
}

.leaderboards .bests {
	padding: 0px 6px 6px 6px;
	border: none;
}

.leaderboard ol {
	padding: 6px 0px 0px 24px;
	line-height: 1.2;
}

.leaderboard li {
	padding: 6px 0px 0px 7px;
	font-size: 12px;
	line-height: 1.4;
}

.leaderboard .number {
	font-size: 14px;
	font-weight: 500;
}

.leaderboard .workout_name {
	font-size: 14px;
	font-weight: 500;
}

.leaderboard span.unit {
	font-size: 12px;
}

/*---- Dashboard content layout ----*/

#content_left_column {
	width: 468px;
}

#content_right_column {
	width: 396px;
}

/*---- Dashboard content ----*/

/*Container for featuring interesting stat headline and details*/
#headline_news {
	padding: 8px 0px 8px 0px;
	font-size: 18px;
	font-weight: 500;
	color: #3dc10b;
	text-align: center;		
}

.headline_title {
	font-size: 24px;
}

#dashboard .your_number {
	color: #25a1d6;
}

#dashboard .title_unit {
	font-size: 14px;
	font-weight: 100;
	color: #25a1d6;	
}

#dashboard .comp_number {
	font-weight: 500;
}

#dashboard h2 {
	text-align: left;
	padding-bottom: 12px;
}

#dashboard_stats {
	padding-bottom: 24px;
}

#dashboard_stats h2, #recent_workouts h2 {
	padding-bottom: 0px;
}

#recent_workouts {
	height: auto;
	padding: 0px 0px 36px 0px;
}

#recent_workouts a {
	color: #545454;
}

#recent_workouts a:hover {
	color:#25a1d6;
}

#recent_workouts_chart {
	position: relative;
	left: -4px;
	overflow: hidden;
	width: 468px;
	height: 196px;
}

#bar_tooltip {
	width: 220px;
}

/*---- Invite ----*/

#send_invite th {
	width: auto;
}

/*---- Activity page layout ----*/

#activity_left_column {
	width: 468px;
}

#activity_right_column {
	width: 396px;
	vertical-align: top;
}


/*---- Activity page styles*/

#tag_cloud {
	padding: 24px 0px 24px 0px;
}

/*---- Workouts index ----*/

#workouts_list {
	width: 100%;	
}

.filtered {
	padding-top: 0px;
}

.highlight {
	background-color: #f7fdff;
}

/*---- Add Workout ----*/

/*Content div id */
#select_device {
	
}

.device_name {
	font-weight: 500;
}

#locating_files {
	float: right;
	right: 0px;
	z-index: -100;
	text-align: left;
	width: 400px;
	padding-top: 18px;
	font-size: 12px;
}

#locating_files h3 {
	padding-bottom: 24px;
}

#locating_files ol {
	margin-left: 8px;
	padding-left: 1em;
}

#locating_files li {
	font-size: 12px;
}

/*Span style for examples of supported devices*/
.device_details {
	font-size: 12px;
	font-style: oblique;
	color: #9f9f9f;
}

/*---- Workout layout ----*/

#workout_left_column {
	text-align: left;
}

#workout_right_column {
	border-left: 0px;
}

/*---- Workout content ----*/

/*Workout title and details styles*/

.activity_icon {
	position: relative;
	padding: 0px 8px 0px 0px;
	height: 42px;
	width: auto;
	vertical-align: bottom;
}

.action_icon {
	height: 14px;
}

.action {
	font-size: 12px;
}

#workout_description, #workout_notes {
	display: block;
	font-size: 14px;
	padding: 2px 0px;
}

#workout_notes {
	font-style: italic;
}

#tag_set {
	font-size: 14px;
	display: inline;
}

#tags_header {
	padding-right: 4px;
}

.tag {
	padding: 0px 4px;
}

a.globe {
	position: relative;
	margin-left: -2px;
	display: inline; 
	background: url(/images/globe.png) no-repeat;		
	width: 18px;
	height: 18px;
}

a.globe:hover {
	background-position: -18px 0px;
}

a.add-plus {
}

a.delete-x {
	padding: 0px 7px;
	background: url(/images/delete-x.png) no-repeat scroll 4px 5px;
}

.displace {
	position: absolute;
	left: -5000px;
}

/*---- Workout comparison stats view ----*/

#workout_stats {
	float: left;
	overflow: auto;
}

#workout_stats table, th, td {
	border: 0px;
	text-align: left;
}

#workout_stats th, td {
	padding: 8px 4px;
	font-weight: 300;
	vertical-align: top;
	position: relative;
}

#workout_stats th {
	font-size:18px;			
	text-align: right;
	padding-left: 0px;
}

#workout_stats td.number {
	text-align: left;
	color:#25a1d6;
}

.stat, .number {
	font-size: 14px;
}

#spark_bar, #spark_line {
	padding-top: 0px;
}

.sparkbar {
	width: 150px;
	height: 50px;
	top: 0px;
}

.sparkline {
	width: 150px;
	height: 50px;
	top: 0px;
}

#fullsize_tooltip {
	position: absolute;
}

/*larger font to display the number (vs. unit)*/
span.value {
	font-weight: 500;
	font-size: 18px;
}

/*Formatting for content in comparison tooltip*/

p.comp_this_workout {
	margin-top: 0px;
	padding-top: 0px;
	color: #25a1d6;
}

p.comp_my_activity {
	padding-top: 4px;
	color: #3dc10b;
}

p.comp_activity {
	padding: 4px 0px 0px 0px;
}

/*Formatting for full-size stat view*/

#fullsize_chart_area {
	text-align: left;
	position: relative;
	top: 24px;
	padding-bottom: 24px;
	clear: both;
}

#fullsize_chart_area h2 {
	text-align: left;
	display: inline;
}

.big_visualization {
	width: 100%;
	height: 196px;
	position: relative;
	clear: both;
	top: 12px;
}

/*Workout gps map*/

#map {
	float: right;
	position: relative;
	top: 0px;
	border: 1px solid #d9d9d9;
}


/*---- Workout Overlap ----*/

#overlap {
	text-align: left;
}

#overlap p {
	padding-bottom: 12px;
}

#overlap a {
	font-weight: 500;
}

#overlap ul {
	padding: 0px 0px 0px 48px;
}

#overlap li {
	padding-bottom: 12px;
}

#overlap .name {
	font-style: oblique;
}

/*---- Admin pages ----*/

#users table {
	width: 100%;	
}

#users th, #users td {
	font-size: 14px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px dotted #d9d9d9;
	padding: 12px;	
}

#users th {
	font-weight: 500;
}

#users .first_column {
	padding-left: 0px;
}

#users .last_column {
	padding-right: 0px;
}

#users .centered {
	text-align: center;
}

#users .name {
	font-weight: 500;
}

#users div {
	padding-bottom: 36px;
}

#users ol {
	padding: 12px 0px 24px 20px;
}

#users li {
	padding-bottom: 12px;
}

/*---- Footer styling ----*/

#footer ul {
	padding: 24px 0px 0px 0px;
	padding-bottom: 8px;
}

#footer li {
	display:inline;
	border-right:1px dotted #d9d9d9;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 14px;
}

#footer .last {
	border: 0px;
}

/*Global*/
* {
	margin: 0px;
	padding: 0px;
}