body {
	background-color: white;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,arial,sans-serif;
	color: #545454;
	padding: 24px 72px 24px 72px;
	font-weight: 300;
	letter-spacing: .5px;
}

{
	border: 1px solid green;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
	color:#25a1d6;
}

#header {
	height: 36px;
	padding-bottom: 36px;
	vertical-align: bottom;
}

#logo {
	font-size: 36px;
	font-weight: 100;
	letter-spacing: 10px;
	float: left;
	vertical-align: bottom;
}

#loginpane {
	font-size: 10pt;
	float: right;
	padding-top: 24px;
	color: #9f9f9f;
}

#loginpane input {
	background-image:url(/images/splash_inputs.png);
	background-repeat:no-repeat;
	border:light none;
	height:16px;
}

#loginpane .login_text {
	padding-left: 12px;
}

#logged_in li{
	display:block;
	font-size:12px;
	padding:4px 12px 4px 12px;
	float: left;
	border-right:1px dotted #d9d9d9;
	position: relative;
	bottom: 18px;
}

#logged_in .last {
	padding-right:0px;
	border:none;
}

.main {
	display: block;
	clear: both;
	margin: 48px 0px 48px 0px;
	font-size:14px;
}

#register, #login {
	width: 100%;
	text-align: left;
	float: left;
}

#registration_form, #login_form table, tr, th, td {
	margin-left: auto;
	margin-right: auto;
	font-weight: 200;
	font-size: 18px;
	line-height: inherit;
	font-family: inherit;
	font-color: inherit;
	border: none;
	padding: 8px 4px 8px 4px;
}

.form th {
	text-align:right;
	width: 33%;
}

.form .annotated {
	padding-bottom: 0px;
}

.form .field_note {
	font-size: 12px;
	padding-top: 0px;
}

.form input {
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	vertical-align: inherit;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border:1px solid #d9d9d9;
	font-family: inherit;
	color: inherit;
	padding:8px;
	margin:0px;
}

.submit {
	position: relative;
	top: 16px;
}

#nav {
	text-align: center;
	margin-bottom:12px;
	padding:12px;
}

#nav li {
	display:block;
	padding:6px 12px 4px 12px;
	float: left;
	position: relative;
	left: -50px;
	top: -24px;
	border-right:1px dotted #d9d9d9;
}

#nav .first {
	padding-left:0px;
	border-left:none;
}

#nav .last {
	padding-right:0px;
	border:none;
}

h1 {
	font-weight: 500;
	font-size: 36px;
}

h2 {
	font-size: 24px;
	font-weight: 500;
}

h3 {
	color: #9f9f9f;
	font-size: 16px;
	line-height: 16px;
	font-weight: 400;
	display: inline-block;
	margin: 0px 0px 12px 0px;
}

thead, th, td {
	padding: 12px;
	border: none;
	text-align: left;
}

.left_column {
	text-align: left;
	padding-left: 0px;
}

#content_header {
	text-align: left;
	vertical-align: bottom;
	margin-bottom: 18px;
	float: left;
	width: 100%;
}

#name {
	margin-left: 200px;
}

.activity_icon {
	position: relative;
	bottom: -6px;
}

.action_icon {
	position: relative;
	bottom: 6px;
}

.alert {
	color: #3dc10b;
	text-align: center;	
}

.content {
	margin-top: 24px;
}

p.workout_notes {
	display: inline;
	font-size: 14px;
	line-height: 18px;
	color: #828282;
}

#workout_snapshot {
	clear: both;
}

#summary_stats table, th, td {	
	text-align: left;
	border-right: none;
}

#summary_stats th {
	padding-left: 0px;
}

#gps, #heart_rate_graph {
	position: relative;
	float: right;
}

#workout_details {
	clear: both;
	padding-top: 24px;
}	

#workout_comparison {
	float: left;
	overflow: auto;
}

#workout_comparison th, #workout_comparison td {
	border-right:1px dotted #d9d9d9;
	text-align: center;
}

#workout_comparison th.left_column {
	text-align: left;
}

#right_rail {
	width: 150px;
	font-size: 14px;
	line-height: 18px;
	vertical-align: top;
	float: right;
	margin-left: 48px;
}

#group_list, #tag_list {
	margin-bottom: 36px;
}

a.globe {
	position: relative;
	margin-left: -2px;
	display: inline; 
	background: url(/images/globe.png) no-repeat;		
	width: 18px;
	height: 18px;
}

a.globe:hover {
	background-position: -18px 0px;
}

a.add-plus {
}

a.delete-x {
	padding: 0px 7px;
	background: url(/images/delete-x.png) no-repeat scroll 4px 5px;
}

.displace {
	position: absolute;
	left: -5000px;
}

div .clear {
	clear: both;
}

#footer {
	display: block;
	clear: both;
	color: #7C7B74;
	font-size: 8pt;
	padding-bottom: 10px;
	text-align: center;
}
