<div id="main">
	<div id="content_header">
		<h1>Register</h1><br>
	Already a member of Zed9? <%= link_to "Log in", login_path  %>.
	</div>

	<div id="content">
	  <%= render :partial => "form" %>
	</div>
</div>