<div class="content_header">
	<h1>About ZED9</h1>
</div>

<div class="content">
			
		<h4>ZED9 is a new site for social fitness analysis and comparison.</h4>

		<p>ZED9 helps you learn about, compare, and improve your performance. We are working to do for fitness what <a href="http://www.mint.com" target="new">mint.com</a> does for finance by aggregating data from many <a href="devices">monitoring devices</a> to make it easy to:</p>

		<ul>
			<li>Track all your workouts in one place, no matter what device(s) you use. You can even merge independent data from a heart rate monitor, GPS logger, etc. to get the full picture of any workout</li>
			<li>See what's working: cool graphs and stats for every workout let you see how you measure up and help you (or a trainer) identify ways to improve your performance</li>
			<li>Compare and compete with friends, groups, and the community, no matter where they are or what tracking device they use</li>
			<li>Find new motivation to up your standing on the leader boards</li>
		</ul>

		<p>ZED9 is currently in a private beta. Beta members are helping to shape the future of ZED9 and have access to all of the analytics and features on the site for free. Everyone can view workouts that members have made public, but membership is by invitation only while we scale. Put your name on the list and we'll send you an invitation soon. In the meantime, <a href="contact">drop us a note</a> to let us know what you'd like to see, what device(s) you're using, or how we're measuring up!</p> 

		<p><h4>Who is behind ZED9?</h4></p>
		
		<p>ZED9 was started by Oren and Olivia Teich in Palo Alto, California. Oren is a biker, runner, P90Xer, and doer of any new activity piques his interest. Olivia loves hiking with the dog, tennis, yoga, classes at <a href="http://www.equinoxfitness.com">Equinox</a>, and the occasional swim or run. As casual athletes, both sometimes need the right gadget and incentive to get motivated. ZED9 started as a way to track their fitness across every activity and device and keep them engaged. It's working so far!</p>

</div>