<div class="content_header">
	<h1>About ZED9</h1>
</div>

<div class="content">
			
		<h4>ZED9 is a new site for fitness analysis and comparison.</h4>
		<p>We are working to do for fitness what <a href="http://www.mint.com" target="new">mint.com</a> does for finance. What does that mean? It means we aggregate the data from many <a href="devices">tracking devices</a> to make it easy to:</p>
			<ul>
				<li>track and understand your own workouts</li>
				<li>see how you measure up against yourself and others</li>
				<li>learn how to improve your performance</li>
			</ul>

			<p>ZED9 is in alpha with many features to come. Everyone can view the workouts that members have made public, but membership is by invitation only while we scale up. Put your name on the list for an invitation, or <a href="contact">drop us a note</a> to let us know what you'd like to see, what device you're using, or how we're measuring up!</p> 

		<p><h4>Who is behind ZED9?</h4></p>
		<p>We are Oren and Olivia Teich, product managers in Silicon Valley. Oren used to be a programmer; Olivia prefers history and art. Oren is a biker, runner, and P90Xer. Olivia loves hiking with the dog, tennis, yoga, classes at <a href="http://www.equinoxfitness.com">Equinox</a>, and the occasional swim or run. We are casual athletes who sometimes need a little help motivating, so we are putting the best of what we have learned at startups and at big companies like Yahoo! and Sun into ZED9.</p>
					
		<p><h4>The story of ZED9</h4></p>
		<p>We like variety in exercise, and we like to know how we're doing. We were frustrated that there wasn't a way to see how we were doing in our biking, hiking, running, tennis, swimming, weights, yoga, and classes. We have a Polar RS400 that is great for heart rate and indoor activities, but doesn't collect GPS data. Our Garmin 405 gets GPS but doesn't work inside. Nike+ is great for challenging friends, but doesn't get heart rate or location.</p>
		<p>An excuse for more gadgets has never been a bad thing for us, but being unable to understand our activities across them all was. Even figuring out how many times a week we had been working out required logging into three pieces of software, and none of them helped in analyzing our progress. And so we started building ZED9.</p> 

</div>
