<div id="content_header">
	<h1>Contact ZED9</h1>
</div>

<div id="content">
	<p>ZED9 is in early alpha and under active development. We are eager to hear your feedback on how things should evolve.</p> 
	<p>Please send us any comments, ideas, suggestions... or whatever <a href="mailto:oren@teich.net">by email</a>.</p>
	<p>You can also reach us and track our progress on twitter at <a href="http://twitter.com/ZED9fitness">ZED9fitness</a>.</p>
	<p>ZED9 is based in Palo Alto, California.</p>
</div>