<div class="content_header">
	<h1>Contact ZED9</h1>
</div>

<div class="content">

	<p>ZED9 is currently in a private beta. We are eager to hear your ideas, questions, and feedback on how things should evolve. If you're not already a member, put your name on the invite list and we'll get you an invite soon.</p> 

	<p>You can contact us <a href="mailto:support@zednine.com">by email</a> or on twitter at <a href="http://twitter.com/ZED9fitness">ZED9fitness</a>.</p>

	<br>

	<iframe id="fdbk_iframe_inline" allowTransparency="true" scrolling="no"frameborder="0" src="http://getsatisfaction.com/zed9/feedback/topics/new?display=inline&amp;style=idea"></iframe>

    <!-- <div id="gsfn_list_widget">
      <a href="http://getsatisfaction.com/zed9" class="widget_title">Active discussions about ZED9</a>
      <div id="gsfn_content">Loading...</div>
      <div class="powered_by"><a href="http://getsatisfaction.com/"><img alt="Favicon" src="http://www.getsatisfaction.com/favicon.gif" style="vertical-align: middle;" /></a> <a href="http://getsatisfaction.com/">Get Satisfaction support network</a></div>
    </div>
	
    <script src="http://getsatisfaction.com/zed9/widgets/javascripts/5535c4107b/widgets.js" type="text/javascript"></script><script src="http://getsatisfaction.com/zed9/topics.widget?callback=gsfnTopicsCallback&amp;length=0&amp;limit=6&amp;sort=recently_active" type="text/javascript"></script> -->


</div>
