<div class="content_header">
	<h1>Contact ZED9</h1>
</div>

<div class="content">

	<p>ZED9 is currently in a private beta. We are eager to hear your ideas, questions, and feedback on how things should evolve.</p> 

	<p>Please send us any comments, suggestions... or whatever <a href="mailto:Oren@ZEDnine.com">by email</a>.</p>

	<p>You can also reach us and keep track of goings-on at <a href="http://twitter.com/ZED9fitness">ZED9fitness</a> on twitter.</p>

	<p>ZED9 is based in Palo Alto, California.</p>

</div>
