<div class="content_header">
	<h1>Supported Tracking Devices</h1>
</div>

<div class="content">
	
	<p>ZED9 aggregates data from multiple tracking devices to give you a single place to see all your activities and track your performance.</p> 
	
	<p>ZED9 offers cross-platform data aggregation from the following devices:</p>

	<%= render :partial => "layouts/devices" %>

	<p>Don't see your device listed but want to participate in the beta? <a href="contact">Let us know what you're using!</a></p> 

	<p>Want to participate and ready to buy but not sure what to get? Check out our <a href="guide">device comparison guide and recommendations</a>.</p>
	
</div>