<div id="content_header">
	<h1>Supported Monitoring Devices</h1>
</div>

<div id="content">
	
	<p>ZED9 aggregates data from multiple tracking devices to give you a single place to see all your activities and track your performance.</p> 
	
	<p>ZED9 offers cross-platform support for devices including:</p>
	<div id="supported_devices_list">
		<ul>
			<li>Garmin Forerunner 405</li>
			<li>Garmin Forerunner 305</li>
			<li>Polar RS400</li>
			<li>Polar RS800</li>
			<li><span class="coming_soon">Suunto - coming soon</span></li>
			<li><span class="coming_soon">GPX - coming soon</span></li>
		</ul>
	</div>

	<p>Don't see your device listed but want to participate in the alpha? <a href="contact">Let us know what you're using!</a></p> 

</div>