<div class="content_header">
	<h1>What Tracking Device Should I Get?</h1>
</div>

<div class="content" id="device_comparison">
	<p>So you're sold on ZED9 and just need some sort of tracking device to get started? You're not alone.</p> 
	<p>You have several options to choose from, depending on your budget and the features you want. If, unlike us, you don't aspire to own one of each, here's some information to help you choose. Just like with the rest of ZED9, take your pick: lots of data on the models we like in the grid below, or jump to the <a href="#QandA">Q&A</a> for the bottom line.</p>
	
	<table id="device_grid" class="sortable">
		<thead> 
			<tr>
				<td class="first category noleftborder { sorter: false }">&nbsp;</td>
				<td class="second category { sorter: false }" colspan="9">Facts</td>
				<td class="category { sorter: false }" colspan="2">Opinion</td>
			</tr>
			<tr>
				<th class="first model">Model</th>
				<th class="second looks">Looks</th>
				<th class="hr">Heart rate</th>
				<th class="gps">GPS</th>
				<th class="tip altitude" title="Barometric altitude is good because it is more accurate than GPS-based altitude. Click to sort. Shift and click to choose an additional sort column.">Barom. altitude*</th>
				<th class="tip indoors" title="Not all monitors work well inside. Pick one that works for the activities you do most often. Click to sort. Shift and click to choose an additional sort column.">Indoors*</th>
				<th class="tip mac" title="All devices listed support downloading data in Windows. Cllick to sort. Shift and click to choose an additional sort column.">Mac*</th>
				<th class="connection">Connect.</td>				
				<th class="addons tip" title="Add-ons range from footpads (pedometers) to GPS loggers, power meters, and other ways to collect sport-specific data. Click to sort. Shift and click to choose an additional sort column.">Add-ons*</th>
				<th class="price">Price</th>
				<th class="pros">Pros</th>
				<th class="cons">Cons</th>
			</tr>
		</thead> 
		<tbody>
			<tr class="model_details">
				<td class="first model">
					<a href="http://www.amazon.com/gp/product/B0025UHKNS?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B0025UHKNS">Garmin Forerunner 405CX</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B0025UHKNS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
					<div class="description">GPS receiver watch with heart rate monitor that also tracks distance. Women should get the optional second wrist band option for smaller wrists.</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B0025UHKNS?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B0025UHKNS"><img border="0" src="/images/devices/garmin405.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B0025UHKNS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="altitude"></td>
				<td class="indoors"></td>
				<td class="mac"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="connection">ANT</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$369.99</td>
				<td class="pros">
					<p>Great small GPS watch for running</p>
					<p>Easy data transfer</p>
					<p>Virtual training partner</p>
				</td>
				<td class="cons">
					<p>Standard doesn't fit small wrists</p>
					<p>Non-CX model has poor calorie calculation</p>
				</td>
			</tr>
			<tr class="model_details">
				<td class="first model">
					<a href="http://www.amazon.com/gp/product/B000CSWCQA?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000CSWCQA">Garmin Forerunner 305</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000CSWCQA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /><br>
					<div class="description">GPS receiver watch with heart rate monitor<br>See the <a href="http://www.amazon.com/gp/product/B00077U4RU?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B00077U4RU">Garmin Forerunner 301</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B00077U4RU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> for cycling.</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000CSWCQA?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000CSWCQA"><img border="0" src="/images/devices/garmin305.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000CSWCQA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="altitude"></td>
				<td class="indoors"></td>
				<td class="mac"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="connection">USB</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$170.63</td>
				<td class="pros"><p>Good value for tracking lots of data</p><p>Easy data transfer</p></td>
				<td class="cons"><p>Big, boxy form factor</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B000CSQJ8C?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000CSQJ8C">Garmin Forerunner 205</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000CSQJ8C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
					<div class="description">Multi-sport GPS watch</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000CSQJ8C?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000CSQJ8C"><img border="0" src="/images/devices/garmin205.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000CSQJ8C" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"></td>
				<td class="gps"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="altitude"></td>
				<td class="indoors"></td>
				<td class="mac"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="connection">USB</td>				
				<td class="addons"></td>
				<td class="price sort_value">$152.95</td>
				<td class="pros"><p>Easy data transfer</p></td>
				<td class="cons"><p>Big, boxy form factor</p><p>At only $20 more, get the 305</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B000UW5SYG?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000UW5SYG">Garmin Forerunner 50</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000UW5SYG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
					<div class="description">Sports Watch with Heart Rate Monitor and USB ANT Stick</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000UW5SYG?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000UW5SYG"><img border="0" src="/images/devices/garmin50.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000UW5SYG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"></td>
				<td class="altitude"></td>
				<td class="indoors"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="mac"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="connection">ANT</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$52.99</td>
				<td class="pros"><p>Same sleek form factor as the pricier 405 (but without GPS)</p><p>Easy data transfer</p></td>
				<td class="cons"><p>Heart rate, time, and nothing more</p><p>Footpad is the only add-on</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B000VRFXDG?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000VRFXDG">Garmin Edge 705</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000VRFXDG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
					<div class="description">Color display bicycle GPS Navigator with heart rate monitor and microSD card slot for adding maps and turn-by-turn directions</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000VRFXDG?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000VRFXDG"><img border="0" src="/images/devices/garmin705.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000VRFXDG" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="altitude"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="indoors"></td>
				<td class="mac"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="connection">USB</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$499.99</td>
				<td class="pros"><p>Most feature-rich option for cycling</p></td>
				<td class="cons"><p>Big form factor, weighs 2lbs</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B001415E9G?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001415E9G">Suunto t6c</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B001415E9G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
					<div class="description">Advanced monitoring watch tracks heart rate as well as EPOC and Training Effect.</div>
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B001415E9G?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001415E9G"><img border="0" src="/images/devices/suuntot6c.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B001415E9G" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"></td>
				<td class="altitude"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="indoors"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="mac"></td>
				<td class="connection">USB</td>
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$357.99</td>
				<td class="pros"><p>Records EPOC and Training Effect, great for more advanced coaching</p><p>Tons of add-ons available</p><p>Relatively subtle and comfortable</p></td>
				<td class="cons"><p>Expensive for heart-rate only</p><p>Suunto's GPS add-on only tracks speed</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B000IV2SH4?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000IV2SH4">Polar RS400</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000IV2SH4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000IV2SH4?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000IV2SH4"><img border="0" src="/images/devices/polarrs400.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000IV2SH4" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"></td>
				<td class="altitude"></td>
				<td class="indoors"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="mac"></td>
				<td class="connection">IrDA</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$249.95</td>
				<td class="pros"><p>One of the few that records heart rate in the water</p></td>
				<td class="cons"><p>IrDA connections are finicky</p><p>Footpad is the only add-on</p></td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B001F0PVFS?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001F0PVFS">Polar RS800CX</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B001F0PVFS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B001F0PVFS?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B001F0PVFS"><img border="0" src="images/devices/polarrs800.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B001F0PVFS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"></td>
				<td class="altitude"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="indoors"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="mac"></td>
				<td class="connection">IrDA</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$399.95</td>
				<td class="pros"><p>One of the few that records heart rate in the water</p><p>Great triathlon watch</p></td>
				<td class="cons"><p>IrDA connections are finicky</p><p>If you don't want add-ons, $150 is a steep premium over the RS400 for altitude</td>
			</tr>
			<tr class="model_details">
				<td class="first model"><a href="http://www.amazon.com/gp/product/B000VCFRDC?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000VCFRDC">Suunto Memory Belt</a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000VCFRDC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="second looks"><a href="http://www.amazon.com/gp/product/B000VCFRDC?ie=UTF8&tag=allin-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=B000VCFRDC"><img border="0" src="/images/devices/suuntomemorybelt.jpg"></a><img src="http://www.assoc-amazon.com/e/ir?t=allin-20&l=as2&o=1&a=B000VCFRDC" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
				</td>
				<td class="hr"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="gps"></td>
				<td class="altitude"></td>
				<td class="indoors"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="mac"></td>
				<td class="connection">USB</td>				
				<td class="addons"><img src="./images/check_blue.png" alt="&#x2713;"></td>
				<td class="price sort_value">$149.00</td>
				<td class="pros"><p>Discreet, no display or distractions</p><p>Also works with Suunto watches and pods</p></td>
				<td class="cons"><p>Chews through batteries (this and price are the score-killers)</p></td>
			</tr>
		</tbody>
	</table>

	<a name="QandA"></a><h2>Q&A with your resident gadget gurus</h2>
	
	<h4>Sum it up for me: what should I buy?</h4>
			
		<p>If money isn't the deciding factor, for running get the <span class="recommendation">Garmin Forerunner 405CX</span>, for cycling get the <span class="recommendation">Garmin Edge 705</span>, or for indoor/outdoor get the <span class="recommendation">Suunto t6c plus a GPS data logger</span> (phone or other). The Suunto plus GPS will give you the most comprehensive and interesting data with EPOC and Training Effect as well as a subtler and more comfortable watch and chest band. The Garmin 405CX works for most outdoor activities, it records GPS and heart rate (and makes it easy to access your data), and it doesn't look half bad, though it's a little less comfortable to wear than the Suunto.</p>		

	<h4>Can I use the device I already have?</h4>
	
		<p>Our goal for ZED9 is to accept high quality data from any monitoring device. This guide is by no means an exclusive list. Check out the current list of <a href="devices">devices we support</a>.</p>


	<h4>Gadgets and displays are distracting during my workout. Are there any good options for me?</h4>

		<p>The Suunto Memory Belt and/or any no-display GPS logger (or phone that can track GPS) are your best options for now.</p>


	<h4>What about less expensive models?</h4>
	
		<p>Monitoring devices are getting better and less expensive all the time. You can find models today that are less expensive than the ones we recommend here, but they come with some big tradeoffs:</p>
			<ol>
				<li>They usually don't store all of your heart rate data: either they record they record the points when you actively decide to take your heart rate, or they keep your average and maximum.</li>
				<li>They don't connect to a computer or keep you in control of your own data.</li>
			</ol>

		<p>We are excited about some of the new models coming out soon (like the Garmin FR 60) as well as lower-priced monitoring options that will start making tradeoffs we like better.</p> 
	
	<h4>Where can I learn more?</h4>
	
		<p>A few good places to continue your reading:</p>
		<ul>
			<li>Becomming Triathlete's <a href="http://runtotri.blogspot.com/2009/05/which-hrm-to-chose-little-help.html">"Which HRM to choose. Little help narrowing the list"</a> post from 5/28/09 on choosing between the Garmin Forerunner 405 (or the soon-to-be-released 310xt), Suunto t6c, and Polar RS800cx.</li>
		</ul>
		
</div>