<div class="content_header">
	<h1>Invite Friends to ZED9</h1>
</div>

<div class="content">
	<div id="send_invite">
	
		<%= error_messages_for :invitation %>
		<% form_for @invitation do |f| %>

		<table id="send_invite" class="form">
			<tr>
				<th><%= f.label :recipient_email, "Friend's email address" %></th>
				<td><%= f.text_field :recipient_email %></td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td><%= f.submit "Invite!", :disable_with => "Sending invitation..." %></td>
			</tr>
		</table>

	<% end %>

	</div>
</div>