<div id="supported_devices_list">
	<ul>
	  <li><span class="device_name">Garmin</span> <span class="device_details">Forerunner 305, 405, 705...</span></li>
	  <li><span class="device_name">Polar</span> <span class="device_details">RS400, RS800...</span></li>
	  <li><span class="device_name">Suunto</span> <span class="device_details">t6c...</span></li>
	  <li><span class="device_name">GPS</span> <span class="device_details">.gpx files from a cell phone or a GPS data logger designed for photography, sports, etc...</span></li>
	</ul>
</div>